html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

header{
    width: 100%;
    height: 600px;
    background-image: url("/img/capa2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.box{
    width: 400px;
    height: 200px;
    text-align: center;
    position: absolute;
    right: 100px;
    bottom: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.box h1{
    font-size: 32px;
    font-weight: normal;
    padding: 65px 0px 25px 0px;
    margin: 0;
}

.box p{
    font-size: 20px;
    margin: 0;
}

.welcome{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 175px;
    background-color: rgb(221, 221, 221, 0.9);
}

.welcome h2{
    padding-left: 10%;
    padding-top: 40px;
    margin: 0;
    color: #222;
    font-size: 24px;
    font-weight: normal;
}

.welcome p{
    padding-left: 10%;
    color: #222;
    width: 500px;
}

section{
    padding: 30px 10%;
}

.subsection{
    width: 100%;
    height: 150px;
    margin: 30px 0;
}

.subsection-box1, .subsection-box2, .subsection-box3{
    width: 20%;
    height: 150px;
    float: left;
    text-align: center;
    line-height: 150px;
    padding: 20px;
    box-sizing: border-box;
}

.subsection-box1 p, .subsection-box2 p, .subsection-box3 p{
    padding-top: 35px;
    margin: 0;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.subsection-box1{
    background-color: #2364AA;
}

.subsection-box2{
    background-color: #3DA5D9;
}

.subsection-box3{
    background-color: #73BFB8;
}

.subsection-content{
    width: 80%;
    height: 150px;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.subsection-content h3{
    font-size: 20px;
    margin: 0 0 15px 0;
    padding: 5px;
}

.subsection-content p{
    font-size: 14px;
    line-height: 22px;
}

.subsection-title1{
    color: #2364AA;
}

.subsection-title2{
    color: #3DA5D9;
}

.subsection-title3{
    color: #73BFB8;
}

footer{
    background-image: url("/img/rodape.jpg");
    background-position: center;
    padding: 30px 10%;
}

.about-card{
    float: left;
    width: 350px;
    margin-right: 50px;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
}

img{
    padding-top: 30px;
}

.about-card p{
    margin: 50px 0;
    padding: 0 30px;
    font-size: 14px;
    line-height: 22px;
    color: #888;
    text-align: justify;
}